In [1]:
import numpy as np
import pandas as pd
import os
import alpaca_trade_api as tradeapi
import datetime as dt
import pytz
import os
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation
from urllib.request import urlopen
import json
from pprint import pprint

In [6]:
aapl_url = ("https://financialmodelingprep.com/api/v3/profile/AAPL?apikey=30f38fe4adae4904fc1497cf7bea1fca")

In [7]:
def get_jsonparsed_data(aapl_url):
    response = urlopen(aapl_url)
    data = response.read().decode("utf-8")
    return json.loads(data)

In [21]:
Banks_DCF = ("https://financialmodelingprep.com/api/v3/company/discounted-cash-flow/BAC,C,GS,JPM,MS,WFC?apikey=30f38fe4adae4904fc1497cf7bea1fca")

In [28]:
Banks_DCF_Clean = get_jsonparsed_data(Banks_DCF)
Banks_DCF_Clean = Banks_DCF_Clean["DCFList"]

In [32]:
Banks_DCF_Clean

[{'symbol': 'BAC',
  'date': '2021-06-07',
  'dcf': 87.22338645418327,
  'Stock Price': 43.17},
 {'symbol': 'C',
  'date': '2021-06-07',
  'dcf': 227.96140287769785,
  'Stock Price': 79.465},
 {'symbol': 'GS',
  'date': '2021-06-07',
  'dcf': 822.2399071765032,
  'Stock Price': 390.425},
 {'symbol': 'JPM',
  'date': '2021-06-07',
  'dcf': 336.8704607397794,
  'Stock Price': 165.68},
 {'symbol': 'MS',
  'date': '2021-06-07',
  'dcf': 151.7015205327414,
  'Stock Price': 93.07},
 {'symbol': 'WFC',
  'date': '2021-06-07',
  'dcf': 53.87985825552707,
  'Stock Price': 47.05}]

In [37]:
Banks_DCF_dataframe = pd.DataFrame(Banks_DCF_Clean)
Banks_DCF_dataframe

  symbol        date         dcf  Stock Price
0    BAC  2021-06-07   87.223386       43.170
1      C  2021-06-07  227.961403       79.465
2     GS  2021-06-07  822.239907      390.425
3    JPM  2021-06-07  336.870461      165.680
4     MS  2021-06-07  151.701521       93.070
5    WFC  2021-06-07   53.879858       47.050

In [38]:
Banks_DCF_dataframe.index.name

In [41]:
Banks_DCF_dataframe.set_index('symbol')

              date         dcf  Stock Price
symbol
BAC     2021-06-07   87.223386       43.170
C       2021-06-07  227.961403       79.465
GS      2021-06-07  822.239907      390.425
JPM     2021-06-07  336.870461      165.680
MS      2021-06-07  151.701521       93.070
WFC     2021-06-07   53.879858       47.050

In [45]:
Banks_DCF_dataframe.set_index('symbol', inplace=True)

In [48]:
Banks_DCF_dataframe.drop(columns=['date'])

               dcf  Stock Price
symbol
BAC      87.223386       43.170
C       227.961403       79.465
GS      822.239907      390.425
JPM     336.870461      165.680
MS      151.701521       93.070
WFC      53.879858       47.050

In [50]:
Banks_DCF_dataframe.reset_index()

  symbol        date         dcf  Stock Price
0    BAC  2021-06-07   87.223386       43.170
1      C  2021-06-07  227.961403       79.465
2     GS  2021-06-07  822.239907      390.425
3    JPM  2021-06-07  336.870461      165.680
4     MS  2021-06-07  151.701521       93.070
5    WFC  2021-06-07   53.879858       47.050

In [51]:
Banks_DCF_dataframe.drop(columns=['date'], inplace=True)

In [52]:
Banks_DCF_dataframe

               dcf  Stock Price
symbol
BAC      87.223386       43.170
C       227.961403       79.465
GS      822.239907      390.425
JPM     336.870461      165.680
MS      151.701521       93.070
WFC      53.879858       47.050

In [53]:
Banks_DCF_dataframe.rename(columns={"dcf":"DCF","Stock Price":"Stock_Price"})

               DCF  Stock_Price
symbol
BAC      87.223386       43.170
C       227.961403       79.465
GS      822.239907      390.425
JPM     336.870461      165.680
MS      151.701521       93.070
WFC      53.879858       47.050

In [54]:
Banks_DCF_dataframe.index.name

'symbol'

In [55]:
Banks_DCF_dataframe.index.name = 'Symbol'
Banks_DCF_dataframe.index.name

'Symbol'

In [56]:
Banks_DCF_dataframe

               dcf  Stock Price
Symbol
BAC      87.223386       43.170
C       227.961403       79.465
GS      822.239907      390.425
JPM     336.870461      165.680
MS      151.701521       93.070
WFC      53.879858       47.050

In [58]:
Banks_DCF_dataframe.rename(columns={"dcf":"DCF","Stock Price":"Stock_Price"}, inplace=True)
Banks_DCF_dataframe.rename(columns={"dcf":"DCF","Stock Price":"Stock_Price"})

               DCF  Stock_Price
Symbol
BAC      87.223386       43.170
C       227.961403       79.465
GS      822.239907      390.425
JPM     336.870461      165.680
MS      151.701521       93.070
WFC      53.879858       47.050